
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
  }
  
  
  #header {
    background: #c3eb78;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #a27676;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  #header h1 a {
    color: #413028;
    font-size: 1.5rem;
    font-weight: bold;

  }
  
  #nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  #nav ul li a {
    color: #413028;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
  }
  
  #nav ul li a:hover {
    background: #1c5253;
    transition: 0.5s;
    color: #c3eb78;
  }
  
  #banner {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    padding: 6rem 2rem;
  }
  
  #banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../assets/wallpaper/bg-landing.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
  }
  #banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }
  
  #banner .inner {
    position: relative;
    z-index: 2;
  }
  
  
  
  #banner .inner h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  #banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    color: #515151;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  
  .button.primary {
    background-color: #c3eb78;
  }
  
  .button.primary:hover {
    background-color: #1c5253;
    color: #c3eb78;
    transition: 0.5s;
  }
  
  section.wrapper {
    padding: 4rem 2rem;
  }
  
  .wrapper.style1 {
    background: #1c5253;
    text-align: center;
  }
  
 
  .spotlight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
  }
  
  .spotlight .content {
    flex: 1 1 300px;
    color : #1c5253
  }

  #footer {
    background: #c3eb78;
    color: #1c5253;
    text-align: center;
    padding: 2rem;
  }
  
  #footer .icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  #footer ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
  }

  